footer {
    height: 50px;
    font-weight: bold;
    margin: 0px 15px;
}

.lang-switch {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 4px;
    cursor: pointer;
}