<footer class="row">
    <div class="col-6 d-flex align-items-end justify-content-start">
        <p>v.{{appVersion}}</p>
        <button (click)="changeLanguage()"
                class="lang-switch fw-bold text-decoration-underline align-self-center ms-2">
            @if(currentLanguageSymbol === LANG_PL) {
                {{ "Footer.changeLanguageToEnglish" | translate }}
            }
            @else {
                {{ "Footer.changeLanguageToPolish" | translate }}
            }
        </button>
    </div>

    <div class="col-6 d-flex align-items-end justify-content-end">
        <p>&copy; {{currentYear}} - {{ "Footer.rights" | translate }}</p>
    </div>
</footer>