<div class="row text-center h-100">
    <div class="row h-25">
        <div class="col-12 title mt-5">
            <p class="fw-bold">Word Rush</p>
        </div>
    </div>

    <div class="row h-25">
        <div class="col-12 rules mt-3 d-flex flex-column justify-content-between">
            <div>Twoim głównym celem jest odganięcie pełnego słowa na podstawie widocznych liter.</div>
            <div>Ilość widocznych liter jest ustalana na podstawie ilości sekund, które poświęcisz na odliczanie.</div>
            <div>Im więcej sekund poczekasz, tym więcej liter zostanie odkrytych i łatwiej będzie Ci odgadnąć słowo.</div>
            <div>Ilość zdobytych punktów to ilość zakrytych w wylosowanym słowie liter - pod warunkiem, że odgadniesz je poprawnie!</div>
            <div class="mt-4 text-danger fw-bold">Uważaj! Jeżeli po odliczaniu okaże się, że odkryłeś wszystkie litery to nie zdobywasz żadnych punktów!</div>
        </div>
    </div>

    <div class="row h-25">
        <div class="col-12 buttons mt-5">
            <button routerLink="/board"
                    class="standard-button text-uppercase fw-bold">Przejdź do gry</button>
        </div>
    </div>
</div>