<div class="row w-100">
    <div class="col-12 title-container d-flex justify-content-center">
        <p class="fw-bold title">Word Rush</p>
    </div>
</div>

<div class="row w-100">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center">
        <p>{{"StartPage.rulesMessage" | translate}}</p>
    </div>
    <div class="col-4"></div>
</div>

<div class="row w-100">
    <div class="col-12 d-flex justify-content-center">
        <button routerLink="/board"
                class="standard-button text-uppercase fw-bold">{{ "StartPage.goToGame" | translate }}</button>
    </div>
</div>

<!--Subject to change. TODO: Add floating animations for the rules.-->