.standard-button {
    font-size: 20px;
    border: 4px solid black;
    border-radius: 5px;
    color: black;
    background-color: transparent;

    width: 200px;
    height: 80px;
}

.secondary-button {
    font-size: 20px;
    border: 4px solid #727272;
    border-radius: 5px;
    color: #727272;
    background-color: transparent;

    width: 200px;
    height: 80px;
}