<div class="row">
    @if(!isCounterStarted && !isWordLoaded && !isWordCorrectnessValidated) {
        <div class="game-not-started-container d-flex flex-column justify-content-center align-items-center">
            <h1>Naciśnij SPACE, aby rozpocząć grę!</h1>

            <button routerLink="/"
                    class="standard-button text-uppercase fw-bold mt-4">Powrót</button>
        </div>
    }

    @if(isCounterStarted) {
        <div class="game-started-container">
            <h1>{{counter}}</h1>
        </div>
    }

    @if(isWordLoaded && !isWordCorrectnessValidated) {
        <div class="letters-container d-flex justify-content-center">
            @for(letter of lettersData.letters; track letter) {
                <h1 class="ms-5">{{letter}}</h1>
            } @empty {
                <li>There are no items.</li>
            }
        </div>

        <div class="answer-container d-flex flex-column justify-content-center align-items-center mt-5">
            <input type="text" id="guessed-word" [(ngModel)]="guessedWord">

            <button (click)="checkWordCorrectness()"
                    class="standard-button text-uppercase fw-bold mt-4">Zgaduj!</button>
        </div>
    }



    @if(isWordCorrectnessValidated) {
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1>Podane przez Ciebie słowo:</h1>
            <h2 class="mt-2">{{guessedWord}}</h2>
            <h1 class="mt-2">Było {{isGuessCorrect ? 'poprawne' : 'nieprawidłowe'}}</h1>

            <button (click)="resetGame()"
                    class="standard-button text-uppercase fw-bold mt-4">Jeszcze raz!</button>
        </div>
    }
</div>